body {
    font-size: 16px;
}

ul {
    list-style-type: none;
    height: 86%;
    overflow-x: hidden;
    overflow-y: auto;
}

h1 {
    text-align: center;   
}
form {
    height: 3em;
}

#message-form {
    position: fixed;
    bottom: 0;
    width: 100%;
}

input {
    width: 99%;
    height: 100%;
}
button {
    height: 100%;
    margin: 10px;
    width: 90%;
}

#login {
    text-align: center;
    margin: 20%;
}
#login-form {
    text-align: center;
    display: inline-block
}

#error {
    display: none;
    color: red;
}